<!DOCTYPE html>
<html>

<head>
    <title>__NAME__</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }

        table {
            width: 500px;
            border: 4px double black;
            background: #fc3;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div>
        <h1>
            <p style='color:rgb(25,200,25);'>Bookshelf</p>
        </h1>
    </div>

    <div>
        <h1>__HEADER__</h1>
        <div>
            <a href='/static/index.html'>to the main page</a>
        </div>
        <br>
        <div>__BODY__</div>
    </div>

</body>

</html>